.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}
.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		16px;
	display:		inline;
	float:left;

	cursor:			Default;
	cursor:			hand;
	cursor:			pointer;
	z-index:		1;
	position:		relative;
	top:			0;
	background:	url("../images/catalog//tab_bg.png");
	margin-top:0px;
	padding:5px;

	text-align:center;
	width:130px;
}
.dynamic-tab-pane-control .tab-row .tab.selected, .dynamic-tab-pane-control .tab-row .tab:hover {
	border-bottom:	0;
	z-index:		3;
	background:	url("../images/catalog//active_tab_bg.png");

}
.dynamic-tab-pane-control .tab-row .tab:hover a{
	color:#fff;
}
.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			16px;
	font-weight:		normal;
	color:				#777;
	text-decoration:	none;
	cursor:				hand;
	cursor:				pointer;
	top:2px;
}
.dynamic-tab-pane-control .tab-row .hover a {
	font-weight:	normal;
	color:	fff;
}
.dynamic-tab-pane-control .tab-row .tab.selected a {

	color:	white;
}
.dynamic-tab-pane-control .tab-page {
	clear:			both;
	/*border:			1px solid rgb(120,172,255); MAD*/
	background:		White;
	z-index:		2;
	position:		relative;
	/*top:			-2px; MAD*/
	color:			Black;
	font-family:	Verdana, Helvetica, Arial;
	font-size:		13px;
	/*padding:		10px; MAD*/
}
.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	/*background:		rgb(234,242,255); MAD*/
	height:			40px;
	width:			100%;
	background:	url("../images/catalog/tabs_bg.png");
}
.calendar {
	z-index: 10;
}
